<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arboltrario - Un Sitio para Seguir Árboles Plantados al Azar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/styles.css')}}">
</head>

<body>
    <main class="container">
        <div class="row">
            <h1 class="col-4">Arboltraria</h1>
            <a class="col-2" href="/user/account">Mis Arboles</a>
            <h3 class="col-6">Bienvenid@ de vuelta {{ session['nombre'] }} {{ session['apellido'] }}</h3>
        </div>
        <div class="row">
            <p class="col-8"> Un sitio para seguir arboles plantados al azar </p>
            <form class="col-2" action="/dashboard" method="GET">
                <button class="btn btn-primary">dashboard</button>
            </form>
            <form class="col-2" action="/procesa/logout" method="POST">
                <button class="btn btn-secondary">Logout</button>
            </form>
        </div>

        <div class="row">
            <h2 class="col-6">Añadir Plantacion de Árbol</h2>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/new">
            <div class="mb-3">
                <label for="especie" class="form-label">Especie:</label>
                <input type="text" class="form-control" id="especie" name="especie" required>
            </div>
            <div class="mb-3">
                <label for="ubicacion" class="form-label">Ubicacion:</label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
            </div>
            <div class="mb-3">
                <label for="razon" class="form-label">Razón:</label>
                <textarea class="form-control" id="razon" name="razon" rows="4" required></textarea>
            </div>
            <div class="mb-3">
                <label for="fecha_plantacion" class="form-label">Fecha de Plantación:</label>
                <input type="date" class="form-control" id="fecha_plantacion" name="fecha_plantacion" required>
            </div>
            <button type="submit" class="btn btn-primary">Plantar</button>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>